body {
  background-color: #12fbc8;
}

img {

  width:350px ; 
  height:350px ;
  border-radius: 50%;
}

h1,h2,h3 {
  color: #3300CC ;
  position: 0,500px;
}
.h2 {
  position : center ;
  left : 300px ;
}

